:80 {
    encode gzip

    # /api a vše pod /api -> backend
    handle_path /api/* {
        reverse_proxy server:3000
    }

    handle /api {
        reverse_proxy server:3000
    }

    # všechno ostatní -> frontend
    handle {
        reverse_proxy web:4173
    }
}
