:80 {
    encode gzip

    # API -> backend na portu 3000
    handle_path /api/* {
        reverse_proxy 127.0.0.1:3000
    }

    handle /api {
        reverse_proxy 127.0.0.1:3000
    }

    # všechno ostatní -> frontend na portu 3001
    handle {
        reverse_proxy 127.0.0.1:3001
    }
}
